<h1>My Lists</h1>

<% @lists.each do |list| %>
  <div class="d-flex gap-2">
    <h2><%= link_to list.name, list %></h2>
    <%= cl_image_tag list.photo.key, height: 150, width: 200, crop: :fill %>
  </div>
<% end %>

<%= link_to "Add a new list", new_list_path  %>
