<div class="container">
  <%= render "shared/title", title: "My Lists" %>
  <div class="container d-flex gap-3 flex-wrap">
    <% @lists.each do |list| %>
      <%= render partial: "list_card", locals: { list: list } %>
    <% end %>
  </div>
</div>
