<%= render "shared/title", title: @list.name %>

<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>

<%= link_to "Add a new bookmark", new_list_bookmark_path(@list), class: 'btn btn-outline-secondary' %>

<div class="container d-flex gap-3 flex-wrap">
  <% @bookmarks.each do |bookmark| %>
    <%= render "lists/movie_card", bookmark: bookmark %>
  <% end %>
</div>
