<nav class="navbar bg-body-tertiary sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">Movies For Animals</a>
    <%= link_to "Add a new list", new_list_path, class: 'btn btn-outline-secondary'  %>
  </div>
</nav>
